<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login | API Panel</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body style="display: flex; justify-content: center; align-items: center; height: 100vh;">

<div class="login-box">
  <h2>Login</h2>

  {% if error %}
    <div class="error" style="color: var(--accent-red); margin-bottom: 15px; text-align: center; font-weight: 500;">
       {{ error }}
    </div>
  {% endif %}

  <form method="POST">
    {% csrf_token %}

    <div class="input-group">
      <input type="text" name="username" placeholder="Username" required>
    </div>

    <div class="input-group">
      <input type="password" name="password" placeholder="Password" required>
    </div>

    <button type="submit">Login</button>
    <!-- {# <a href="{% url 'forgot_password' %}" class="forgot">Forgot Password?</a> #} -->
    <a href="#" class="forgot">
       Forgot Password?
     </a>

  </form>
</div>

</body>
</html>